<ng-container *transloco="let t; read: 'footer'">
<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <!-- <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">{{t('About')}}</a> -->
          <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">{{t('About')}}</a>
          </li>
          <!-- <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">{{t('Documentation')}}</a> -->
          <li class="rk-menu__item"><a routerLink="documentation" class="rk-menu__link">{{t('Documentation')}}</a>
          </li>
          <!-- <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">{{t('ContactUs')}}</a> -->
          <li class="rk-menu__item"><a routerLink="contact" class="rk-menu__link">{{t('ContactUs')}}</a>
          </li>
        </ul>
        <!-- <p class="rk-footer__text rk-footer__copy ">
          <span class="ae-u-bold">© </span>
          <span class="ae-u-bolder">{{anio}} Manalisco, Jalisco </span>
          {{t('AllRightReserved')}}
        </p> -->
        <p class="rk-footer__text rk-footer__copy ">
          <span class="ae-u-bold">© </span>
          <span class="ae-u-bolder">{{anio}} {{dataPageService.dataPage.title}} </span>
          {{t('AllRightReserved')}}
        </p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <!-- <a href="#0" class="rk-social-btn "> -->
        <a [href]="dataPageService.dataPage.facebook" class="rk-social-btn " target="_blank">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
          </svg>
        </a>
        <!-- <a href="#0" class="rk-social-btn "> -->
        <a [href]="dataPageService.dataPage.ex" class="rk-social-btn " target="_blank">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
          </svg>
        </a>
        <!-- <a href="#0" class="rk-social-btn "> -->
        <a [href]="dataPageService.dataPage.instagram" class="rk-social-btn " target="_blank">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
          </svg>
        </a>
        <!-- <a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
          </svg>
        </a> -->
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><img src="../../../assets/img/mexico.png">&nbsp;<a (click)="changeIdiom('es')" class="rk-menu__link">{{t('Spanish')}}</a>
          </li>
          <li class="rk-menu__item"><img src="../../../assets/img/estados-unidos.png">&nbsp;<a (click)="changeIdiom('en')" class="rk-menu__link">{{t('English')}}</a>
          </li>
        </ul>
        <!-- <p class="rk-footer__text rk-footer__copy ">
          <span class="ae-u-bold">{{t('Email')}}: </span>
          <span class="ae-u-bolder">
            <a href="#0" class="rk-dark-color ">albert.mac.gmail.com </a>
          </span>
        </p> -->
        <p class="rk-footer__text rk-footer__copy ">
          <span class="ae-u-bold">{{t('Email')}}: </span>
          <span class="ae-u-bolder">
            <a href="mailTo: {{dataPageService.dataPage.email}}" class="rk-dark-color ">{{dataPageService.dataPage.email}} </a>
          </span>
        </p>

        <!-- <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p> -->
      </div>
    </div>
  </footer>
</ng-container>
